.container {
  margin: 0 10px;
  padding: 0 auto;
}

.bgcolor {
  background-color: #2c3e50;
  padding: 20px 0 ;
}
.Boot a {
  text-decoration: none;
  color: #fff;
  font-size:30px;
}


.menu i {
  margin-left: 5px;
}
.menu {
  border: 1px solid;
  background-color: #1abc9c;
  border-radius: 5px;
  display: flex;

  color: #fff;
  background-color: #1abc9c;
  padding: 13px;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 20px 0; */
}

header {
  position: fixed;
  width: 100%;
}
img {
  width: 50px;
}
.text {
  display: none;
}
main {
  padding-top: 88px;
}
.firsimg {
  background-color: #1abc9c;
  text-align: center;
  height: 500px;
}
.firsimg2 {
  background-color: #1abc9c;
  text-align: center;
  height: 500px;
  padding: 96px 0;
}
.smalik img {
  width: 240px;
  margin: 0 0 48px;
}
.header1 {
  font-size: 48px;
  color: #fff;
}
.line {
  margin: 0 20px;
  height: 3px;
  width: 150px;
  background-color: #fff;
  border-radius: 5px;
}
.line2 {
  margin: 0 20px;
  height: 3px;
  width: 150px;
  background-color: #2c3e50;
  border-radius: 5px;
}

.star {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 24px;
}
.icon i {
  color: #fff;
  font-size: 35px;
}
.firsimg p {
  color: #fff;
  font-size: 20px;
}

.icon2 i {
  color: #2c3e50;
  font-size: 35px;
}

.header2 {
  font-size: 48px;
  color: #2c3e50;
  text-align: center;
  padding: 96px 0 0;
}

.img img {
  width: 400px;
  border-radius: 10px;
}
.img {
  margin: 12px 0;
}

.images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.paragraf {
  font-size: 20px;
  color: #fff;
  text-align: left;
  line-height: 25px;
  margin: 0 0 16px;
}
.dowload {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 12px 24px;
  font-size: 20px;
  color: #fff;
  /* display: flex;
    justify-content: center; */
}

.dowload p {
  display: inline;
}

.mesaj input {
  display: block;
  font-size: 20px;
  padding: 24px 48px 24px 0;
  border: none;
  border-bottom: 1px solid;
  width: 75%;
}
.mesaj {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 12px;
}
.mesaj textarea {
  display: block;
  font-size: 20px;
  padding: 24px 48px 24px 0;
  border: none;
  border-bottom: 1px solid;
  width: 75%;
}
.button {
  padding: 20px;
  border-radius: 5px;
  margin-left: 45px;
  font-size: 16px;
  background-color: #1abc9c;
  color: #fff;
  border: none;
}
.footer {
  background-color: #2c3e50;
  text-align: center;
  color: #fff;
  padding: 96px;
}
main {
  padding: 89px 0;
}
.son1 {
  margin-bottom: 48px;
}
.son1 a {
  color: #1abc9c;
}

.son1 h4 {
  font-size: 24px;
  margin-bottom: 24px;
}

.son1 p {
  font-size: 20px;
}
.son1 a i {
  border: 1px solid white;
  padding: 4px;
  border-radius: 50%;
  font-size: 40px;
  background-color: none;
  color: #fff;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .images {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .img img {
    width: 300px;
    border-radius: 10px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .img img {
    width: 300px;
    border-radius: 10px;
  }
  .menu {
    display: none;
  }

  .text {
    display: inline-block;
  }
  .text ul {
    list-style: none;
    display: flex;
  }
  .text ul a {
    display: inline-block;
    text-decoration: none;
    color: white;
  }
  .text li{
    padding: 0 16px;
  }
  .head{
    align-items: center;
  }
  .Boot{
    padding: 17px 0;
  }
  
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
